node_modules/
.env
/data/
!api/data/

# Test outputs
jest_output.json
coverage/

# Logs
# *.log (disabled to view build_error.log)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db